<hr>
<footer role="contentinfo">
  <ul id="menu">
      <li><a href="https://cspablocortez.github.io/Arrow/">Home</a></li>
      <li><a href="https://cspablocortez.github.io/Arrow/posts">Posts</a></li>
      <li><a href="https://cspablocortez.github.io/Arrow/about">About</a></li>
      <li><a href="https://cspablocortez.github.io/Arrow/devlog">Devlog</a></li>
      <li><a href="https://cspablocortez.github.io/Arrow/index.rss">RSS</a></li>
      <li><a href="#top">&uarr; Top of the page</a></li>
  </ul>
  <small>
      Built with <a href="https://cspablocortez.github.io/Arrow">Arrow</a>. <br>
      The <a href="https://github.com/cspablocortez/Arrow">code for this project</a>
      is <a href="https://mit-license.org">MIT</a>.
  </small>
</footer>