<div class="profile">
    <hgroup>
        <h1 class="profile-name">{{ site.title }}</h1>
        <img class="profile-pic" src="/assets/images/brand/logo.png" alt="DesktopWords Logo">
    </hgroup>

    <section class="profile-bio">
        <p>{{ site.description }}</p>
    </section>

    <section class="profile-menu">
        <a href="/feed.xml" style="background-color: #ee802f; color: white;">
            <img src="/assets/images/icons/rss.svg" alt="RSS Feed">
            <span>RSS Feed</span>
        </a>
        <a href="https://bsky.app/profile/desktopwords.bsky.social" style="background-color: #0b7aff; color: white;">
            <img src="/assets/images/icons/bluesky.svg" alt="Bluesky Profile">
            <span>@DesktopWords</span>
        </a>
    </section>
</div>